<span><%= link_to "返回全部看板", boards_path %></span>
<h1 data-controller="heart" data-heart-board-id="<%= @board.id %>">
  看板 <%= @board.title %>
    <span class="text-color-white" data-action="click->heart#favorite">
      <% if current_user.favorited_boards.exists? %>
        <i class="fas fa-heart small" data-target="heart.heart"></i>
       <% else %>
         <i class="far fa-heart small"></i>
       <% end %> 
    </span>
</h1>
<div class="bm">
  <span>[版主：<%= display_bm(@board) %>]</span>
</div>
  <span><%= link_to "新增文章", new_board_post_path(@board) %></span>
  <ul>
  <% @board.posts.each do |post| %>
    <li data-controller="post" data-action="heypost@window->post#callpost">
      <%= post.display_user_name %>  <%# 作用在post, 所以把display_user_name這個method寫在post %>
      <%= link_to post.title, post, data: { target: 'post.title' } %>
      <% if policy(:post).edit?(post) %>
        <%= link_to "編輯",  edit_post_path(post) %>
        <%= link_to "刪除", post_path(post), method: 'delete', data: { confirm: '確定刪除？' } %>
      <% end %>
    </li>
  <% end %>
</ul>
